
<p class=author>{{question.author}}</p>
<p>{{question.question}}</p>
<p>{{question.notes}}</p>


<br>
<p><img src={{question.image}} alt={{question.type}}></p>

<button {{action 'delete' question}}>Delete</button>
